
<div class="container" ng-controller="HomeCtrl as controller" ng-hide="controller.preloader">
    <div class="loader">Loading...</div>
</div>

<div class="container" ng-controller="HomeCtrl as controller" ng-show="controller.preloader">

    <div class="col-sm-8">

        <!--video---------------------------------------------------------------------------------->
        <div class="videogular-container" >
            <videogular vg-theme="controller.config.theme" vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" >
                <vg-media vg-src="controller.config.sources"
                          vg-tracks="controller.config.tracks"
                          vg-preload="controller.config.preload">
                </vg-media>

                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>

                <vg-overlay-play></vg-overlay-play>
                <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
            </videogular>
            <!--video---------------------------------------------------------------------------------->
            <div class="raiting ">
                <div class='pull-left' >
                   <h5> Raiting: {{controller.activeVideo.raiting}} </h5>
                </div>
                <div class="pull-right">
                    Rate the video:
                    <div class="btn-group" role="group" aria-label="..." >
                        <button ng-repeat="x in [1, 2, 3, 4, 5]" ng-click="controller.changeRaiting(controller.activeVideo.id, $event)" id = {{x}} type="button"  class="btn btn-default" ng-class="{ 'active': controller.activeVideo.raiting == x }"  >{{ x }}</button>
                    </div>
                </div>
            </div>
        </div>

        <form class="comment">
            <div>Leave comment:</div>
            <textarea ng-disabled="controller.textarea" class="form-control" rows="2" ng-model="controller.valComment"></textarea>
        </form>
        <button type="button" ui-sref="state2({id:controller.activeVideo.id})"
                class="btn  btn-comm btn-success">Detailed information about the video</button>
        <button type="button"
                class="btn  btn-comm "
                ng-class=" controller.valComment == undefined || controller.valComment =='' ? 'btn-default' : 'btn-primary'"
                ng-click="controller.saveComment()"
                ng-disabled= "!controller.buttAct || controller.valComment == undefined || controller.valComment ==''">Save comment</button>

        </div>

    <!--sidebar-->
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="video in controller.videos">
                <a href="" ng-click="controller.setVideo($index, video.id)">
                    <img class="animalimg small thumbnail" ng-src="{{video.sources[0].poster}}" alt="">
                    <div>{{video.fullName}} - {{video.raiting}}</div>
                </a>
            </li>
        </ul>
    </div>
</div>